:root {
	font-size: 10px;
	--chview-bkgrnd: #36393f;
	--chview-bkgrn2: #40444b;
	--chview-frgrnd: #dcddde;
	--chview-shadow: #2c2f32;
	--chlist-bkgrnd: #2f3136;
	--chlist-select: rgba(79, 84, 92, 0.32);
	--text-no-mesgs: #72767d;
	/* text with pings or messages is white */
	--text-if-muted: #4f545c;
	--default-avatr: url('/css/default.png');
	--color-of-ping: #ed4245;
}

html,
body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

* {
	font-family: twemoji, Open Sans;
	box-sizing: border-box;
}

@font-face {
	font-family: twemoji;
	src: url('https://cdn.jsdelivr.net/gh/cyan-2048/cyan-2048@0.0.1/twemoji.ttf');
}

#chview,
#chlist,
#srvrs {
	transition: transform 0.5s ease;
}

#chview {
	z-index: 1;
}
#chlist {
	transform: translateX(-24rem);
	z-index: 2;
}
#srvrs {
	transform: translateX(-7.2rem);
	z-index: 3;
}

#chlist.selected {
	transform: none;
}

#chlist.selected + #chview {
	transform: translateX(12rem);
}

#srvrs.selected + #chlist {
	transform: translateX(7.2rem);
}

#srvrs.selected {
	transform: none;
}

#chview,
#composer,
#chview header,
#chview footer,
#chlist {
	position: fixed;
	width: 100vw;
}
